<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <h1>{{message}}</h1>
                        <div class="row">
                            <a routerLink="add" class="btn btn-default waves-effect waves-light">Create new Permission</a><br /><br />
                        </div>
                        <div class="row" *ngIf="permissions.length > 0">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>№</th>
                                            <th>Name</th>
                                            <th class="text-right"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let permission of permissions; let i = index">
                                            <td>{{i + 1}}</td>
                                            <td>{{permission.name}}</td>
                                            <td class="text-right">
                                                <a routerLink="update/{{permission.id}}" class="btn btn-md btn-default">Update</a>
                                                <button type="button" class="btn btn-md btn-danger" (click)="deletePermission(permission)">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" *ngIf="permissions.length <= 0">
                            <span>No items found</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
